.vscode
**/__pycache__
f4enix/f4enix.egg-info
f4enix.egg-info
.coverage
htmlcov/*
prof
docs/source/_build/**
docs/build/**
docs/source/_autosummary/*
docs/jupyter_execute
examples/**
example_testing/**
.pytest_cache/**
build/
src/_version.py
coverage.xml
docs/source/tutorial/Sphere_modified.i
docs/source/tutorial/meshtal_124_vtk.vtr
tester_root.ipynb