# This is a basic workflow to help you get started with Actions

name: testing Linux

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ main, developing ]
  pull_request:
    branches: [ main, developing ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  TestBuild:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11"]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      - name: Setup headless display
        uses: pyvista/setup-headless-display-action@v2

      # Install python
      - name: Set up Python ${{ matrix.python-version }}
        uses: conda-incubator/setup-miniconda@v3
        with:
          python-version: ${{ matrix.python-version }}

      # Install the package
      - name: Install the package
        run: |
          python -m pip install --upgrade pip
          python -m pip install .
          python -c 'import f4enix'

      # Run pytest
      - name: Testing
        run: |
          python -m pip install -e .[tests]
          pytest --cov=src/f4enix -cov-config=".coveragerc"  --cov-report xml

      - name: Upload coverage to Codecov
        # do it only once for python 3.10
        if: matrix.python-version == '3.10'
        uses: codecov/codecov-action@v4
        with:
          verbose: true
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}